@tailwind base;
@tailwind components;
@tailwind utilities;

.insideNav{
  @apply text-red-500 hover:bg-red-200 hover:text-red-900 px-3 py-2 rounded-md text-sm font-medium;
}

.asdw{
  @apply w-full px-4 py-2 bg-blue-400 hover:bg-blue-800 focus:bg-slate-500 text-white rounded-md shadow-md focus:outline-double
}